[run]
source = src
omit =
    src/web_app/*
    src/features/*
    src/visualization/*
    src/data/*
    src/models/*

[report]
exclude_lines =
    if __name__ == .__main__.:
    pragma: no cover
    def train\(
    def main\(